@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 100% 98%;
    --foreground: 150 5% 13%;
    --card: 43 100% 98%;
    --card-foreground: 150 5% 13%;
    --popover: 43 100% 98%;
    --popover-foreground: 150 5% 13%;
    --primary: 130 96% 11%;
    --primary-foreground: 43 100% 98%;
    --secondary: 51 100% 79%;
    --secondary-foreground: 150 5% 13%;
    --muted: 198 19% 59%;
    --muted-foreground: 150 5% 13%;
    --accent: 16 81% 49%;
    --accent-foreground: 43 100% 98%;
    --destructive: 16 81% 49%;
    --destructive-foreground: 43 100% 98%;
    --border: 198 19% 84%;
    --input: 198 19% 84%;
    --ring: 16 81% 49%;
    --chart-1: 16 81% 49%;
    --chart-2: 130 96% 11%;
    --chart-3: 209 58% 21%;
    --chart-4: 51 100% 79%;
    --chart-5: 198 19% 59%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 150 5% 13%;
    --foreground: 43 100% 98%;
    --card: 150 5% 13%;
    --card-foreground: 43 100% 98%;
    --popover: 150 5% 13%;
    --popover-foreground: 43 100% 98%;
    --primary: 43 100% 98%;
    --primary-foreground: 150 5% 13%;
    --secondary: 209 58% 21%;
    --secondary-foreground: 43 100% 98%;
    --muted: 198 19% 35%;
    --muted-foreground: 43 100% 98%;
    --accent: 16 81% 49%;
    --accent-foreground: 43 100% 98%;
    --destructive: 16 81% 49%;
    --destructive-foreground: 43 100% 98%;
    --border: 198 19% 35%;
    --input: 198 19% 35%;
    --ring: 51 100% 79%;
    --chart-1: 16 81% 49%;
    --chart-2: 130 96% 11%;
    --chart-3: 51 100% 79%;
    --chart-4: 198 19% 59%;
    --chart-5: 43 100% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  [data-debug-wrapper="true"] {
    display: contents !important;
  }

  [data-debug-wrapper="true"] > * {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    column-gap: inherit;
    row-gap: inherit;
    gap: inherit;
    border-left-width: inherit;
    border-right-width: inherit;
    border-top-width: inherit;
    border-bottom-width: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
    border-top-style: inherit;
    border-bottom-style: inherit;
    border-left-color: inherit;
    border-right-color: inherit;
    border-top-color: inherit;
    border-bottom-color: inherit;
  }
}
